@if (this.screenService.screenWidth() > 1279){
<nav>
    <img src="./assets/img/logo_weiss.png" alt="logo">
    <ul>
        <li><a (click)="closeImpressum();" href="#about-me-container">About me</a></li>
        <li><a (click)="closeImpressum();" href="#skills">Skills set</a></li>
        <li><a (click)="closeImpressum();" href="#work">My work</a></li>
    </ul>
</nav>
}@else {
    <nav id="mobileNav">
<img id="logo" src="./assets/img/logo_weiss.png" alt="Loki Lingo">
<img id="burger-menu" (click)="openNav()" src='{{ "./assets/img/" + symbol + ".png" }}'>

@if (navIsOpen){

    <img src="./assets/img/logo_blau.png" alt="Loki Lingo">
    <ul>
        <li><a (click)="closeImpressum(); openNav()" href="#about-me-container">About me</a></li>
        <li><a (click)="closeImpressum(); openNav()" href="#skills-container">Skills set</a></li>
        <li><a (click)="closeImpressum(); openNav()" href="#work">My work</a></li>
    </ul>

}
</nav>
}

<h1> {{ this.screenService.screenWidth() }}</h1>